---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Bengamin Osborn-Macpherson - Design & Development">
    <div class="content">
        <h1>404</h1>
        <h2>Couldn't find that page :(</h2>
    </div>
</Layout>
<style>
    .content {
        grid-column: 1 / span all;
        padding: var(--doubleGap) var(--gapSize);
    }
</style>
