---
import Layout from "../layouts/Layout.astro";
import CategoryCard from "../components/CategoryCard.astro";
---

<Layout title="Bengamin Osborn-Macpherson - Design & Development">
  <section class="intro">
    <h2>Designer & Frontend Developer from Melbourne, Australia</h2>
  </section>
  <section class="work">
    <ul role="list" class="link-card-grid">
      <CategoryCard
        href="/work/design"
        title="Design"
        img="src/images/flyer-open-front.jpg"
        colour="rgb(136, 187, 168)"
      />
      <CategoryCard
        href="/work/web"
        title="Web"
        img="src/images/pw_home-m.jpg"
        colour="rgb(136, 187, 168)"
      />
      <CategoryCard
        href="/work/art"
        title="Art"
        img="src/images/commercialrd_FULL.jpg"
        colour="rgb(136, 187, 168)"
      />
      <CategoryCard
        href="/work/photography"
        title="Photography"
        img="src/images/goat.jpg"
        colour="rgb(136, 187, 168)"
      />
    </ul>
  </section>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .intro {
    grid-column: 1 / span 3;
    /* margin: 2rem; */
    padding: 2rem;
    /* border: 3px solid var(--base); */
    /* background-color: rgb(136, 187, 168); */
  }
  .intro h2 {
    font-weight: 200;
  }
  .work {
    grid-column: 1 / span all;
  }
  .link-card-grid {
    display: grid;
    row-gap: 2rem;
    /* grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr)); */
    /* gap: 1rem; */
    padding: 2rem;
    margin: 0;
  }
  @media (min-width: 666px) {
    .link-card-grid {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }
  /* @media (min-width: 1111px) {
    .link-card-grid {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
    }
  } */
</style>
