---
/*
 */
import { Icon } from 'astro-icon'

interface Props {
    date: Date
}
const { date } = Astro.props
const datePretty = date.toLocaleString('en-AU', {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
})
const dateStrISO = date.toISOString()
---

<span class="date">
    <Icon name="mdi:calendar-blank-outline" slot="icon" aria-label="Date" />

    <time datetime={dateStrISO}>{datePretty}</time>
</span>
<style>
    .date {
        display: inline-flex;
        align-items: center;
        line-height: 1;
        & svg {
            color: var(--accent);
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
            margin-right: 0.25em;
        }
    }
</style>
