---
---

<footer id="footer">
    <div class="contact">
        <h3>Ahoy-hoy</h3>
        <ul>
            <li><a href="mailto:bengamin@bengam.in">bengamin@bengam.in</a></li>
            <li><a href="#LinkToLinkdin">LinkdIn</a></li>
        </ul>
    </div>
    <div class="name">
        <h4>What's a Bengamin?</h4>
        <p>
            It's just my name. It was meant to be Benjamin, but someone typed it
            wrongly on my birth certificate. Ben is fine though.
        </p>
    </div>
</footer>
<style>
    footer {
        border-top: var(--border);
    }
    .contact {
        grid-column: 1 / span all;
        padding: 2rem;
        border-bottom: var(--border);
    }
    .name {
        grid-column: 1 / span all;
        font-size: 0.75rem;
        padding: 2rem;
    }
    @media (min-width: 666px) {
        /* footer {
            flex-wrap: nowrap;
        } */
        .contact {
            grid-column: 1 / span 4;
            border-bottom: none;
            /* flex-basis: 50%; */
        }
        .name {
            grid-column: 5 / span 3;
            border-left: var(--border);
            /* flex-basis: 50%; */
        }
    }

    @media (min-width: 1000px) {
        .contact {
            grid-column: 1 / span 5;
            /* flex-basis: 75%; */
        }
        .name {
            grid-column: 6 / span 2;
            /* flex-basis: 25%; */
        }
    }
    a {
        color: var(--accent);
    }
    ul {
        list-style: none;
        padding: 0;
    }
</style>
