---
---

<footer>
  <div class="contact">
    <h3>Say ahoy!</h3>
    <ul>
      <li><a href="mailto:bengamin@bengam.in">bengamin@bengam.in</a></li>
      <li><a href="#LinkToLinkdin">LinkdIn</a></li>
    </ul>
  </div>
  <div class="name">
    <h4>What's the deal with my name?</h4>
    <p>
      It's just my name. It was meant to be Benjamin, but someone typed it
      wrongly on my birth certificate. You can just call me Ben though.
    </p>
  </div>
</footer>
<style>
  footer {
    display: flex;
  }
  .contact {
    padding: 2rem;
    flex-basis: 75%;
    background: rgb(230, 245, 240);
  }
  .name {
    font-size: 0.75rem;
    padding: 2rem;
    flex-basis: 25%;
    background: rgb(220, 235, 230);
  }
  a {
    color: var(--accent);
  }
  ul {
    list-style: none;
    padding: 0;
  }
</style>
