---
---

<footer id="footer">
    <div class="contact">
        <span>
            <h3>Hello</h3>
            <ul>
                <li>
                    <a href="mailto:ahoy@bengam.in">ahoy@bengam.in</a>
                </li>
            </ul>
        </span>
    </div>
    <div class="name">
        <p>
            I'm a frontend developer with a background in design. My name was
            mispelled on my birth certificate, but I mostly go by Ben.
        </p>
    </div>
    <div class="site">
        <p>
            This site is built with <a href="https://astro.build/">Astro</a>.
            The typeface is <a href="https://fonts.google.com/specimen/DM+Sans"
                >DM Sans</a
            >.
        </p>
    </div>
</footer>
<style>
    footer {
        border-top: var(--border);
    }
    h3 {
        font-size: calc(var(--headingMultiplier) * 1);
        margin-bottom: var(--quarterGap);
    }
    p {
        margin: 0;
    }
    /* a {
        color: var(--accent);
    } */
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .contact,
    .name,
    .site {
        display: flex;
        align-items: center;
        grid-column: 1 / span all;
        padding: var(--gapSize);
    }
    .contact,
    .name {
        border-bottom: var(--border);
    }
    @media (min-width: 666px) {
        /* footer {
            flex-wrap: nowrap;
        } */
        .contact {
            grid-column: 1 / span 2;
            border-bottom: none;
            /* flex-basis: 50%; */
        }
        .name {
            grid-column: 3 / span 4;
            border-left: var(--border);
            border-bottom: none;
            /* flex-basis: 50%; */
        }
        .site {
            grid-column: 1 / span 6;
            border-top: var(--border);
        }
    }

    @media (min-width: 888px) {
        .contact {
            grid-column: 1 / span 2;
            /* flex-basis: 75%; */
        }
        .name {
            grid-column: 3 / span 2;
            /* flex-basis: 25%; */
        }
        .site {
            grid-column: 5 / span 2;
            border-top: none;
            border-left: var(--border);
        }
    }
</style>
