---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
export interface Props {
    images: Array<ImageMetadata>
    maxCols: number
}

const { images, maxCols } = Astro.props

let columnWidth = `${100 / maxCols}%`
const defaultImageWidth = 1111
---

<!-- 
  A simple gallery component that outputs a grid of images from an array of source urls
  Uses @Astro's 'astro:assets' <Image> component
  Defaults to 2-column
  Images with filenames ending in -wide.jpg will span both columns
-->
<div class="gallery">
    {
        images.map((image) => (
            <Image
                src={image}
                format={image.format}
                alt=""
                format="webp"
                width={defaultImageWidth}
                class={image.src.includes('-wide') ? 'wide' : ''}
            />
        ))
    }
</div>
<script>
    const galleryImages = document.querySelectorAll('.gallery > img')

    function focusImage(image: any) {
        image.classList.add('full-width')
        setTimeout(
            () =>
                image.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start',
                    inline: 'nearest',
                }),
            300
        )
    }

    galleryImages.forEach((image) => {
        image.addEventListener('click', () => {
            focusImage(image)
        })
    })
</script>
<style define:vars={{ columnWidth, defaultImageWidth }}>
    .gallery {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 0 1rem;
        max-width: calc(var(--defaultImageWidth) * 1px);
    }
    img {
        background-color: var(--surface-1);
        cursor: pointer;
        max-width: 100%;
        flex-basis: 100%;
        height: auto;
        margin: calc(var(--gapSize) / 2) 0;
    }
    @media (min-width: 666px) {
        .gallery {
            padding: 0 1.5rem;
        }
        img {
            max-width: calc(50% - calc(var(--gapSize) / 2));
            flex: 1 1 50%;
            margin: calc(var(--gapSize) / 4);
        }
        .wide {
            max-width: calc(100% - calc(var(--gapSize) / 2));
        }
        .full-width {
            max-width: calc(100% - calc(var(--gapSize) / 2));
            transition: all 0.2s ease;
        }
    }
    @media (min-width: 1000px) {
        img {
            max-width: calc(var(--columnWidth) - calc(var(--gapSize) / 2));
        }
        img.wide {
            max-width: calc(
                calc(var(--columnWidth) * 2) - calc(var(--gapSize) / 2)
            );
        }
    }

    @media (min-width: 1300px) {
    }
</style>
