---
import Nav from '@components/Nav.astro'
import Logo from '@components/SiteLogo.astro'
---

<header >
    <a class="logo" href="/" aria-label="Home" transition:persist><Logo /></a>
    <Nav />
</header>

<style>
    header {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--gapSize);
        line-height: normal;
        border-bottom: var(--border);
        z-index: 1;
    }
    .logo {
        padding: var(--quarterGap) 0 0 0;
        z-index: 2;
    }
</style>
