---
import Nav from '@components/Nav.astro'
import Logo from '@components/SiteLogo.astro'
---

<header>
    <a class="logo" href="/"><Logo /></a>
    <Nav />
</header>
<style>
    header {
        background-color: var(--surface-4);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 var(--gapSize);
        line-height: normal;
    }
    .logo {
        padding: calc(var(--gapSize) / 4) 0 0 0;
    }
</style>
