---
---

<nav>
    <a href="/projects">Projects</a>
    <a href="/info">Info</a>
</nav>
<style>
    nav {
        align-self: center;
    }
    a {
        padding: 1em;
        color: var(--accent);
        text-decoration: none;
    }
</style>
