---
---

<nav>
  <a href="/">Home</a>
  <a href="/work">Projects</a>
</nav>
<style>
  nav {
    align-self: center;
  }
  a {
    padding: 1em;
    color: var(--accent);
    text-decoration: none;
  }
</style>
