---
import Button from '@components/Button.astro'
import Icon from 'astro-icon'
---

<nav>
    <Button
        text="Projects "
        url="/projects"
        iconPosition="right"
        size="borderless"
    />
    <Button text="About " url="/about" iconPosition="right" size="borderless" />
</nav>
<style>
    nav {
        align-self: center;
    }
    nav :global(.button) {
        display: inline-flex;
    }
</style>
