/* Draw vertical and horizontal grid lines using pseudo elements */
:root {
    --duration: 0.5s;
    --delay: 0.25s;
}
.vt:root {
    --duration: 0s;
    --delay: 0s;
}
.home {
    /* Vertical */
    #main,
    .project-card,
    .article-card {
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background: var(--accent);
            z-index: 1;
            will-change: transform;
        }
    }
    #main {
        &::before {
            height: 100dvh;
            left: var(--gapSize);
        }
        &::after {
            height: 100dvh;
            right: var(--gapSize);
        }
    }
    .project-card,
    .article-card {
        position: relative;
        &::after {
            right: 0;
        }
        &::before {
            left: 0;
        }
    }

    /* Horizontal */

    .intro,
    .project-card-grid,
    .article-card .grid-line,
    .project-card .grid-line {
        &::before,
        &::after {
            content: '';
            height: 1px;
            background: var(--accent);
            position: absolute;
            z-index: 1;
            will-change: transform;
        }
    }
    .intro {
        &::before,
        &::after {
            width: 100vw;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: var(--halfGap);
        }
    }
    .project-card-grid {
        &::before {
            width: 100vw;
            top: var(--negativeGapSize);
            left: var(--negativeGapSize);
        }
    }

    .project-card .grid-line,
    .article-card .grid-line {
        &::before,
        &::after {
            left: 0;
            right: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
}
/* Animate grid lines */

/* Vertical */
.home-is-loading {
    #main,
    .project-card,
    .article-card {
        &::before,
        &::after {
            animation-name: scaleInFromTop;
            animation-timing-function: var(--defaultTiming);
            animation-duration: var(--duration);
        }
    }
}
.home-is-loaded {
    #main,
    .project-card,
    .article-card {
        &::before,
        &::after {
            animation-name: scaleOutToBottom;
            animation-timing-function: var(--defaultTiming);
            animation-duration: var(--duration);
            animation-delay: var(--delay);
            animation-fill-mode: forwards;
        }
    }
}

/* Horizontal */
.home-is-loading {
    .intro,
    .project-card-grid,
    .project-card .grid-line,
    .article-card .grid-line {
        &::before,
        &::after {
            animation-name: scaleInFromLeft;
            animation-timing-function: var(--defaultTiming);
            animation-duration: var(--duration);
        }
    }
}
.home-is-loaded {
    .intro,
    .project-card-grid,
    .project-card .grid-line,
    .article-card .grid-line {
        &::before,
        &::after {
            animation-name: scaleOutToRight;
            animation-timing-function: var(--defaultTiming);
            animation-duration: var(--duration);
            animation-delay: var(--delay);
            animation-fill-mode: forwards;
        }
    }
}

/* Animate content blocks */
/* First hide the content within the blocks */
/* TODO: Track down weird bug where lines don't animate in when header opacity is initially 0. Setting 0.001 fixes it :/ */

header,
.intro > *,
.section-header,
.project-card a,
.article-card .content {
    opacity: 0.001;
}

/* Show the content within blocks */
.home-is-loaded {
    & header,
    .section-header,
    .intro > *,
    .project-card a,
    .article-card .content {
        animation: fadeIn;
        animation-duration: var(--duration);
        animation-timing-function: var(--defaultTiming);
        animation-fill-mode: forwards;
    }
}
