html:not(.vt) {
    #main,
    #footer {
        transition: all 0.25s var(--defaultTiming);
    }
    .transition {
        #main,
        #footer {
            opacity: 0;
            filter: blur(15px);
            transition: all 0.25s var(--defaultTiming);
        }
    }
}

::view-transition-new(*),
::view-transition-old(*) {
    mix-blend-mode: normal;
    animation-duration: 0.38s;
    animation-timing-function: var(--defaultTiming);
    height: 100%;
}
